/* Last mod by gvestmann */

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background: white;
    font-family: 'Montserrat';

}

aside {
    float:right;
    width:100px;
    height: 100%;
    background-color:black;
}
/* Menu */

.nav {
    display: flex;
    list-style: none;
    padding: 3rem 1rem;
} 

.nav > :first-child {
    margin-right: auto;
}

.nav a {
    margin: 1rem;
    padding: 0;
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

}

.nav a:hover {
    border-bottom: 2px;
    border-style: solid;
    border-
}

.nav > :last-child a {
    margin-right: 3.0rem;
}

/* Text & fonts */

a {

}

a:hover {

}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
}
